<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>商品一覧</h4>
    </div>
    <div class="col-6">
      <%= link_to "+", new_admin_item_path, class: 'btn btn-light, rounded-circle p-0' %>
    </div>
  </div>

  <div class="row">
    <table>

      <thead>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th></th>
        <th>ステータス</th>
      </thead>
        <% @items.each do |item| %>

      <tbody>

        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td></td>
        <td><%= item.is_sale ? '販売中' : '販売停止中' %></td>

      </tbody> 
      <% end %>

    </table>

    <%= paginate @items %>
  </div>
</div>
