<div class="container">

  <div class="row pb-2">
    <div class="col-2 offset-2 pt-4">
      <h4>商品一覧</h4>
    </div>
    <div class="col-1 offset-7 pt-3 pl-5">
      <%= link_to "+", new_admin_item_path, class: 'btn btn-light rounded-circle' %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th class="table-secondary border-bottom border-dark">
              商品ID
            </th>
            <th class="table-secondary border-bottom border-dark">
              商品名
            </th>
            <th class="table-secondary border-bottom border-dark">
              税抜価格
            </th>
            <th class="table-secondary border-bottom border-dark">
              ジャンル
            </th>
            <th class="table-secondary border-bottom border-dark"></th>
            <th class="table-secondary border-bottom border-dark">
              ステータス
            </th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="table-light border-bottom border-dark">
                <%= item.id %>
              </td>
              <td class="table-light border-bottom border-dark">
                <%= link_to item.name, admin_item_path(item.id) %>
              </td>
              <td class="table-light border-bottom border-dark">
                <%= item.price %>
              </td>
              <td class="table-light border-bottom border-dark">
                <%= item.genre.name %>
              </td>
              <td class="table-light border-bottom border-dark"></td>
              <td class="table-light border-bottom border-dark">
                <%= item.is_sale ? '販売中' : '販売停止中' %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
    <div class="col-1"></div>
  </div>

    <%= paginate @items %>

</div>
