<div class="container">

  <div class="row">
    <h4 class="py-4">新規会員登録</h4>
  </div>


  <!--会員情報登録-->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

  <!--名前-->
    <div class="row pb-4">
      <div class="col-3">名前</div>
      <div class="col-3">
        <span class="pr-3">(姓)</span>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和" %>
      </div>
      <div class="col-3">
        <span class="pr-3">(名)</span>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子" %>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row pb-4">
      <div class="col-3">フリガナ</div>
      <div class="col-3">
        <span>(セイ)</span>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ" %>
      </div>
      <div class="col-3">
        <span>(メイ)</span>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ" %>
      </div>
      <div class="col-3"></div>
    </div>

  <!--メールアドレス-->
    <div class="row pb-4">
      <div class="col-3">メールアドレス</div>
      <div class="col-3 ml-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
      <div class="col-6"></div>
    </div>

  <!--住所-->
    <div class="row pb-4">
      <div class="col-3">郵便番号(ハイフンなし)</div>
      <div class="col-3 ml-5">
        <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "00000000" %>
      </div>
      <div class="col-6"></div>
    </div>

    <div class="row pb-4">
      <div class="col-3">住所</div>
      <div class="col-6 ml-5">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: 'form-control' %>
      </div>
      <div class="col-3"></div>
    </div>

  <!--電話番号-->
    <div class="row pb-4">
      <div class="col-3">電話番号(ハイフンなし)</div>
      <div class="col-3 ml-5">
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "00000000000" %>
      </div>
      <div class="col-6"></div>
    </div>

  <!--パスワード-->
    <div class="row pb-4">
      <div class="col-3">パスワード
        <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-3 ml-5">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="col-6"></div>
    </div>


    <div class="row pb-4">
      <div class="col-3">パスワード(確認用)</div>
      <div class="col-3 ml-5">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="col-6"></div>
    </div>

    <div class="row">
      <div class="actions col-3 offset-3">
        <%= f.submit "新規登録", class: 'btn btn-success ml-5' %>
      </div>
    </div>

  <% end %>




  <!--登録済み記述-->
  <div class="row">
    <h4 class="pt-4 pb-3">既に登録済みの方</h4>
  </div>
  <div class="pl-3 pb-5">
    <%= link_to "こちら", new_customer_session_path, class: 'px-3' %>
    からログインしてください。
  </div>

</div>



