<div class="container">
  <div class="row">
    <h4 class="p-4">注文履歴詳細</h4>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="p-2">注文情報</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              <div><%= @order.delivery_post_code %></div>
              <div><%= @order.delivery_address %></div>
              <div><%= @order.delivery_name %></div>
            </td>
          </tr>
          <tr>
            <th>支払い方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-3">
      <div class="p-2">請求情報</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_payment - @order.postage %></td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.postage %></td>
          </tr>
            <th>ご請求額</th>
            <td><%= @order.total_payment %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-3"></div>

  </div>

  <div class="row">
    <div class="col-8">
      <div class="p-2">注文内容</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>

        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.order_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-4"></div>
  </div>
</div>
