<div class="container">
  <div class="row">
    <div class="col-2 pt-4">
      <%= render 'public/left_contents', genres: @genres %>
    </div>

    <div class="col-10 pt-4">

      <% if params[:name].present? %>
        <h4><%= @genre.name %>一覧<span>（全<%= @genre.items.count %>件）</span></h4>
           <% @genre.items.each do |genre_item| %>
             <div>
               <%= link_to item_path(genre_item) do %>
                 <%= image_tag genre_item.get_item_image(150, 150) %>
               <% end %>
               <div><%= genre_item.name %></div>
               <div><%= genre_item.price %></div>
             </div>

           <% end %>

      <% else %>
        <h4>商品一覧<span>（全<%= @items.count %>件）</span></h4>
        <div class="pr-1">
          <% @items.each do |item| %>

            <%= link_to item_path(item) do %>
              <%= image_tag item.get_item_image(150, 150) %>
            <% end %>
            <%= item.name %>
            ￥<%= item.price %>

          <% end %>
        </div>

        <!--%= paginate @items %>-->

      <% end %>

    </div>
  </div>
</div>