<div class="container">
  <div class="row">
    <div class="col-2 pt-3">
      <%= render 'public/left_contents' %>
    </div>

    <div class="col-3 p-4">
      <div>
        <%= image_tag @item.get_item_image(200, 200) %>
      </div>
    </div>
    <div class="col-7 p-5">
      <%= form_with url:cart_items_path, method: :post do |f| %>

      <h3 class="mb-2"><%= @item.name %></h3>
      <h5 class="p-2"><%= @item.introduction %></h5>
      <div class="pl-2">
        <%= @item.price*1.1 %>(税込)
      </div>
      <div class="pl-2">
        <%= f.hidden.field @cart_item, :value => :item.id %>
        <%= f.select :amount, *[1..5] %>
      </div>

      <div>
      <%= f.submit "カートに入れる", cart_items_path(@customer), class: 'btn btn-success' %>
      </div>

      <% end %>
    </div>
  </div>
</div>
